.footer {
    background-color: var(--bg);
    color: #fff;
    padding: 2rem 0;
    width: 80%;

    .foot-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .left {
            h4 {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 700;
            }

            p {
                margin-top: 0.5rem;
                font-size: 1.2rem;
                color: #ccc;
            }
        }

        .right {
            display: flex;
            gap: 1.5rem;

            a {
                color: #fff;
                transition: color 0.3s;

                &:hover {
                    color: var(--gray300);
                }
            }
        }
    }
}